:root{
    --primary-background-color: #121618;
    --secondary-background-color: #ffffff;
    --primary-text-color: #ffffff;
    --accent-color: #fac564;
    --play-btn: url(../images/play.png);
    --pause-btn: url(../images/pause.png);
}